body {
    background-color: #c7cacc;
    font-family: Arial;
    text-align: left;
    font-size: 80%;
}

#container {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}

#header {
    height: 100px;
}

#nav-bar {
    height: 50px;
    margin-top: 10px; 
}

#mainbody { 
   width: 70%;
   float: left;
}

#mainbody h2 {
    color: #cf5c3f;
    margin-left: 20px;
}

.top-content {
    margin-top: 2px; 
    margin-bottom: 10px;
    border-radius: 5px;
    width: 650px;
    height: 250px;
    float: left;
    background-color: azure;
}

h2 {
    margin-left: 20px;
    margin-top: 30px;
}

.bottom-content {
    margin-top: 5px; 
    margin-bottom: 10px;
    border-radius: 5px;
    width: 650px;
    height: 250px;
    float: left;
    background-color: azure;
}

#sidebar {
    width: 200px;
    float: right;
}

.side-content-top {
    margin-top: 1px; 
    margin-bottom: 10px;
    border-radius: 5px;
    height: 160px;
    float: right;
    width: 200px; 
    background-color: azure;
    padding-bottom: 5px;
}

.side-content-middle {
    margin-top: 5px; 
    margin-bottom: 10px;
    border-radius: 5px;
    height: 160px;
    float: right;
    width: 200px; 
    background-color: azure;
    padding-bottom: 5px;
}

.side-content-bottom {
    margin-top: 5px; 
    border-radius: 5px;
    margin-bottom: 10px;
    height: 160px;
    float: right;
    width: 200px; 
    background-color: azure;
    padding-bottom: 5px;
}

p {
    margin-left: 20px;
    margin-top: 20px;
}

.footer {
    height: 50px;
    clear: both;
    background-color: gray;
    border-radius: 5px;
    text-align: left;
}

.footer p {
    padding-top: 17px;
}

.red {
    color: #cf5c3f;
}


ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: gray;
    border-radius: 5px; 
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #cf5c3f;
    border-radius: 5px; 
}

@media only screen and (min-width: 350px) and (max-width: 600px)
{
    body {
        width: 100%;
        font-size: 95%;
    }

    #container {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    

    #header img {
        width: 100%;
    }

    #nav-bar {
        height: 160px;
    }

    ul {
        margin: 0%;
        padding: 0%;
        overflow: hidden;
        border-radius: 5px; 
        height: 160px;
    }

    li a:hover {
       display: block; 
    }
    
    li {
        width: 100%;
        text-align: center;
    }
    
    li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 10px 25px;
        text-decoration: none;
    }


    #mainbody { 
        width: 100%;
        float: left;
        margin-top: 2%;
     }
     
     #mainbody h2 {
         color: #cf5c3f;
         margin-left: 20px;
     }

     
    .top-content {
        width: 100%;
    }

    .bottom-content {
        width: 100%;
        margin-top: 1%;
    }


    #sidebar {
        width: 100%;
        float: left;
    }
    
    .side-content-top {
        width: 100%; 
    }
    
    .side-content-middle {
        width: 100%; 
    }
    
    .side-content-bottom {
        width: 100%; 
    }
        
}

